# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
env/
venv/
.venv/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# IDEs / editors
.idea/
*.swp
*.swo

# Logs and local debug info
*.log
*.tmp
*.bak
debug.log

# Environment variables and secrets
.env
.env.*
!.env.example


# macOS
.DS_Store

# Windows
Thumbs.db